<!DOCTYPE html>
<html lang="en">
    <html lang="en" xmlns:th="https://www.thymeleaf.com"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/HomeUser.css}">
    <link rel="stylesheet" th:href="@{/css/BookTicket.css}">
    <link th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" rel='stylesheet'>
    <title>Trang Chủ</title>
</head>
<body>

    <style>
        .footer-container{
            display: flex;
            justify-content: space-between;
            background-color: #222;
            background-image: url(/image/footer.png) ;
            background-size: cover;
            background-repeat: no-repeat;
            color: #fe025c;
            padding: 40px 20px;
            flex-wrap: wrap; 
        } 
    </style>

    <nav class="top-nav">
        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/homeUser}">
                    <img th:src="@{/image/logo.png}" alt="Logo">
                </a>
            </div>
            <div class="search-bar">
                <form th:action="search_movie">
                    <input name="nameMovie" type="text" placeholder="Tìm kiếm phim..." th:value="${nameMovie}" autocomplete="off" readonly>
                    <button class="search-button">Tìm kiếm</button>
                </form>
            </div>
            <div class="navbar_nav_right">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{#}">
                        <span th:text="${name}"></span>
                    </a>
                    <i class='bx bx-chevron-down' style="color: white;font-size: 16px;"></i>
                </li>
                <ul class="dropdown-menu hide">
                    <li><a class="dropdown-item" th:href="@{/historyTicket}" >Xem LSĐV</a></li> <!-- target="_blank" mo qua 1 trang moi -->
                    <li>
                        <a ces:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/logout}">Đăng Xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="bottom-nav">
        <ul>
            <li><a th:href="@{/homeUser}">Trang Chủ</a></li>
            <li><a th:href="@{/phimDangChieu}">Phim đang chiếu</a></li>
            <li><a th:href="@{/phimSapChieu}">Phim Sắp Chiếu</a></li>
            <li><a th:href="@{/khuyenMai}">Khuyến mãi</a></li>
        </ul>
    </nav>

    <div class="full_booking">
        <div class="container" style="margin-top: 40px;">
            <div class="booking-container">
                <div class="movie-info" th:object="${Movie}">
                    <img th:src="@{'/image/' + ${Movie.posterMovie}}" alt="Poster him" class="movie-poster">
                    <div class="movie-details">
                        <h2 class="movie-title" th:text="${Movie.nameMovie}"></h2>
                        <p class="movie-director">Đạo diễn: <span th:text="${Movie.authorMovie}"></span></p>
                    </div>
                </div>

                <h3>Chọn suất chiếu</h3>
                <div class="content">
                    <div class="container my-5">
                        <div class="showtime-section">
                            <table class="showtime-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Ngày chiếu</th>
                                        <th scope="col">Giờ chiếu</th>
                                        <th scope="col">Phòng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr onclick="selectShowtime(this)" th:each="s :${Screen}">
                                        <td style="display: none;" th:text="${s.sreeningId}" class="sreeningId" th:data-id="${s.sreeningId}"></td>
                                        <td th:text="${s.dates}"></td>
                                        <td th:text="${s.hour}"></td>
                                        <td th:text="${s.screeningRoom.roomName}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="seating-section">
                <h3>Chọn ghế ngồi</h3>
                <div class="seat-selection" id="seat-selection"></div>
            </div>
        </div>

        <!-- Food and Drink Section -->
        <div class="choose_eat_discount">
            <div class="food-drink-section">
                <h3>Chọn đồ ăn</h3>
                <table class="table_food">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Hình ảnh</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="f :${Food}">
                            <td style="display: none;" th:text="${f.foodId}" id="foodId"></td>
                            <td th:text="${f.nameFood}"></td>
                            <td class="movie-poster">
                                <img th:src="@{'/image/' + ${f.foodImage}}" alt="" style="width: 100px;height: 150px;">
                            </td>
                            <td style="display: none;"><input th:value="${f.priceFood}" type="number" class="priceFood"></td>
                            <td th:text="@{${f.priceFood} + 'VNĐ'}"></td>
                            <td><input class="sl" type="number" min="0" placeholder="0"></td>
                          </tr>
                    </tbody>
                </table>
            </div>

            <!-- Promotion Section -->
            <div class="discount-section">
                <h3>Chọn khuyến mãi</h3>
                <div class="promotion-container">
                    <div class="promotion" onclick="selectPromotion(this)" th:each="p :${Promotion}">
                        <span style="display: none;" th:text="${p.promotionId}" class="promotionId" th:data-id="${p.promotionId}"></span>
                        <span style="display: none;" th:text="${p.pricePromotion}" class="pricePromotion" th:data-id="${p.pricePromotion}"></span>
                        <p th:text="${p.namePromotion + '  ---  ' + p.detailPromotion}"></p>
                    </div>
                </div>
            </div>
            <!-- <div class="total-section">
                <h3>Tổng tiền: <span id="total-amount"></span></h3>
            </div> -->
            <button class="pay-button" id="checkout-btn">Thanh toán</button>
        </div>
    </div>

    <div class="container1" id="billPopup">
        <div class="bill-form">
            <div class="bill-content-container">
                <div class="bill-header">
                    <h2>Hóa đơn đặt vé</h2>
                </div>
                <div class="bill-content">
                    <div class="bill-row">
                        <span>Tổng số vé đặt:</span>
                        <span id="quanityTicket"></span>
                    </div>
                    <div class="bill-row">
                        <span>Ngày đặt:</span>
                        <span id="buyDate"></span>
                    </div>
                    <div class="bill-row">
                        <span>Đồ ăn nước uống:</span>
                        <span>Bắp rang + Coca<span>(2 phần)</span></span>
                    </div>
                    <div class="bill-row">
                        <span>Mã giảm giá:</span>
                        <span id="promotionId"></span>
                    </div>
                    <div class="bill-row bill-total">
                        <span>Tổng tiền thanh toán:</span>
                        <span id="totalResult"></span>
                    </div>
                    <div class="close">
                        <button id="closeButton"><a th:href="@{/phimDangChieu}">Đặt vé khác</a></button>
                    </div>
                </div>
            </div>


            <div class="qr-code">
                <div class="detail">Quét mã QR để thanh toán</div>
                <img th:src="@{/image/qrcode.png}" alt="QR Code">
            </div>
        </div>
    </div>

    <!-- notification-->
    <div id="toasts"></div>

</body>
<script th:src="@{/js/bill.js}"></script>
</html>