<!DOCTYPE html>
<html lang="en">
    <html lang="en" xmlns:th="https://www.thymeleaf.com"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{./css/HomeUser.css}">
    <link th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" rel='stylesheet'>
    <title>Trang Chủ</title>
</head>
<body>

    <style>
        .footer-container{
            display: flex;
            justify-content: space-between;
            background-color: #222;
            background-image: url(./image/footer.png) ;
            background-size: cover;
            background-repeat: no-repeat;
            color: #fe025c;
            padding: 40px 20px;
            flex-wrap: wrap; 
        }
    </style>

    <nav class="top-nav">
        <div class="nav-container">
            <div class="logo">
                <a th:href="@{/home}">
                    <img th:src="@{./image/logo.png}" alt="Logo">
                </a>
            </div>
            <div class="search-bar">
                <form th:action="search_movie">
                    <input name="nameMovie" type="text" placeholder="Tìm kiếm phim..." th:value="${nameMovie}" autocomplete="off">
                    <button class="search-button">Tìm kiếm</button>
                </form>
            </div>
            <div class="auth-buttons">
                <button class="login-button"><a th:href="@{/login}">Đăng nhập</a></button>
                <button class="register-button"><a th:href="@{/register}">Đăng ký</a></button>
            </div>
        </div>
    </nav>
    <nav class="bottom-nav">
        <ul>
            <li><a th:href="@{/home}">Trang Chủ</a></li>
            <li><a th:href="@{/phimDangChieu}">Phim đang chiếu</a></li>
            <li><a th:href="@{/phimSapChieu}">Phim Sắp Chiếu</a></li>
            <li><a th:href="@{/khuyenMai}">Khuyến mãi</a></li>
        </ul>
    </nav>


    <section class="banner-section">
        <i class='bx bxs-chevron-left'></i>
        <div class="banner-container" style="width: 4512px; left: 0px; display: block;">
            <div class="banner-item"><img th:src="@{./image/anh13.png}" alt="Phim 1"></div>
            <!-- <div class="banner-item hide"><img src="phim2.jpg" alt="Phim 2"></div>
            <div class="banner-item"><img src="phim_cam.jpg" alt="Phim 5"></div>
            <div class="banner-item"><img src="phim3.jpg" alt="Phim 3"></div>
            <div class="banner-item"><img src="phim4.jpg" alt="Phim 4"></div> -->
        </div>
        <i class='bx bxs-chevron-right'></i>
    </section>

    <section class="movies-section">
        <h2>Phim Đang Chiếu</h2>
        <div class="movies-container">

            <a th:each="m :${MovieDC}" class="click-watch" th:href="@{/movieDetail/{id}(id=${m.movieId})}">
                <div class="movie-item">
                    <img th:src="@{'/image/' + ${m.posterMovie}}">
                    <h3 th:text="${m.nameMovie}"></h3>
                    <a th:href="@{#}" class="ticket-button">Đặt Vé Ngay</a>
                </div>
            </a>

        </div>
    </section>

    <section class="movies-section"> 
        <h2>Phim Sắp Chiếu</h2>
        <div class="movies-container">
            <a th:each="m :${MovieSC}" class="click-watch" th:href="@{/movieDetail/{id}(id=${m.movieId})}">
                <div class="movie-item">
                    <img th:src="@{'/image/' + ${m.posterMovie}}">
                    <h3 th:text="${m.nameMovie}"></h3>
                    <a th:href="@{/movieDetail/{id}(id=${m.movieId})}" class="ticket-button">Xem Chi Tiết</a>
                </div>
            </a>

        </div>
    </section>

    <section class="movies-section"> 
        <h2>Khuyến Mãi</h2>

        <div class="movies-container">

            <a th:each="p :${Promotion}" class="click-watch" th:href="@{/promotion_detail/{id}(id=${p.promotionId})}">
                <div class="movie-item">
                    <img th:src="@{'/image/' + ${p.promotionImage}}" width="240px" height="200px">
                    <h3 th:text="${p.namePromotion}"></h3>
                    <a th:href="@{/promotion_detail/{id}(id=${p.promotionId})}" class="ticket-button">Xem Chi Tiết</a>
                </div>
            </a>

        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Về chúng tôi</h3>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Các câu hỏi thường gặp</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Điều khoản sử dụng</h3>
                <ul>
                    <li><a href="#">Điều khoản chung</a></li>
                    <li><a href="#">Chính sách thanh toán</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Kết nối với chúng tôi</h3>
                <div class="social-icons">
                    <a class="list-icon" href="#"><i class='bx bxl-facebook-circle' style='color:#ffffff' ></i></a>
                    <a class="list-icon" href="#"><i class='bx bxl-instagram' style='color:#ffffff' ></i></a>
                    <a class="list-icon" href="#"><i class='bx bxl-youtube' style='color:#ffffff' ></i></a>
                    <a class="list-icon" href="#"><i class='bx bxl-twitter' style='color:#ffffff' ></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Chăm sóc khách hàng</h3>
                <ul>
                    <li>Hotline 1: <a href="tel:0123456789">0123 456 789</a></li>
                    <li>Hotline 2: <a href="tel:0987654321">0987 654 321</a></li>
                </ul>
            </div>
        </div>
        <div class="designer">
            <p>© Copyright 2024 Rapchieuphim_nhom2</p>
        </div>
    </footer>
    
</body>
</html>