<!DOCTYPE html>
<html lang="en">
    <html lang="en" xmlns:th="https://www.thymeleaf.com"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/HomeAdmin.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href='@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}' rel='stylesheet'>
    <title>Quản Lý Rạp Phim</title>
</head>

<body>
    <div class="tt"></div>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-film'></i>
                <div class="logo_name"> NHÓM_2</div>
            </div>
            <i class='bx bx-menu' id="btn" style="cursor: pointer;"></i>
        </div>
        <ul class="nav_list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
            </li>
            <li>
                <a th:href="@{/manageMoive}" id="movie">
                    <i class='bx bx-movie'></i>
                    <span class="links_name">Bảo Trì Phim</span>
                </a>
            </li>
            <li>
                <a th:href="@{/manageScreeningMovie}" id="calendar">
                    <i class='bx bx-calendar'></i>
                    <span class="links_name">Bảo Trì Suất Chiếu</span>
                </a>
            </li>
            <li>
                <a th:href="@{/manageCustormer}">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Quản Lý Khách Hàng</span>
                </a>
            </li>
            <li>
                <a th:href="@{/manageScreeningRoom}">
                    <i class='bx bx-chair'></i>
                    <span class="links_name">Bảo Trì Phòng Chiếu</span>
                </a>
            </li>
            <li>
                <a th:href="@{/managePromotion}">
                    <i class='bx bxs-discount'></i>
                    <span class="links_name">Bảo Trì Khuyến Mãi</span>
                </a>
            </li>
            <li>
                <a th:href="@{/manageFood}">
                    <i class='bx bxs-cake'></i>
                    <span class="links_name">Bảo Trì Đồ Ăn</span>
                </a>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img th:src="@{./image/auth_img/bgr_admin1.avif}">
                    <div class="name_job">
                        <div class="name">Hello Admin</div>
                        <div class="job">Admin</div>
                    </div>
                </div>
                <a ces:authorize="isAuthenticated()" class="sign_out" th:href="@{/logout}" style="color: white;" title="Logout">
                    <i class="bx bx-log-out" id="log_out"></i>
                </a>
            </div>
        </div>
    </div>
   
    <div class="content">
        <h1>Danh sách lịch sử đặt vé</h1>
        <p>Danh sách lịch sử đặt vé của khách hàng trên hệ thống bao gồm các thông tin của vé khách hàng đặt</p>
        <hr>
        <div class="container my-5">
            <table class="table table-striped table-hover align-middle" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Mã HD</th>
                        <th scope="col">Ngày xuất HD</th>
                        <th scope="col">Mã KH</th>
                        <th scope="col">Mã Vé</th>
                        <th scope="col">Mã KM</th>
                        <th scope="col">Mã Đồ ăn</th>
                        <!-- <th scope="col">Số lượng đồ ăn</th> -->
                        <th scope="col">Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="b :${Bill}">
                        <td th:text="${b.billId}"></td>
                        <td th:text="${b.buyDate}"></td>
                        <td th:text="${b.custormer.custormerId}"></td>
                        <td th:text="${b.tickets}"></td>
                        <td th:text="${b.promotion.promotionId}"></td>
                        <!-- <td th:text="${b.bill_Foods.food.foodId}"></td> -->
                        <td th:text="${b.bill_Foods}"></td>
                        <td th:text="${b.totalMoney}"></td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>


</body>
<script>

    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    let searchBtn = document.querySelector(".bx-search");
    let container = document.querySelector(".container")
    let content = document.querySelector(".content")

    btn.onclick = function () {
        sidebar.classList.toggle("active");
        container.classList.toggle("large")
        content.classList.toggle("large1")
    }

    searchBtn.onclick = function () {
        sidebar.classList.toggle("active");
        container.classList.toggle("large")
        content.classList.toggle("large1")
    }

</script>
</html>